@font-face {
    font-family: 'PlayfairDisplay';
    src: url('fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('fonts/PlayfairDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('fonts/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    margin: 0;
    font-family: 'PlayfairDisplay', serif;
    background: url('images/hero-image.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.text-paragraph {
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #000;
    text-align: left;
    margin: 10px 0;
}

h1, h2, h3, h4, h5, h6, p, span, div {
    color: #4b576f;
    font-style: italic;
    text-shadow: 1px 1px 2px rgba(31, 30, 30, 0.7);
}

h1 {
    font-size: 32px;
    font-weight: 400;
    color: #000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size:60px;
    font-weight: 900;
    font-style: italic;
    color: #000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

h3 {
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
    color: #983e70;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

h4 {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    color: #000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.hero-image {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border: 2px solid #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #000;
    text-shadow: none;
}


.countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
}

.countdown-item {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.countdown-item span:first-child {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    color: #000000;
}

countdown-item span:last-child {
    font-size: 18px;
    color: #95a5a6;
    font-style: italic;
    text-transform: uppercase;
}

#map {
    width: 100%;
    height: 400px;
    background-color: rgba(236, 240, 241, 0.8);
    margin-top: 20px;
    border-radius: 10px;
}

/* Медиа-запросы для мобильных устройств */


/* Медиа-запросы для мобильных устройств */
@media (max-width: 360px) {
    .countdown {
        flex-wrap: nowrap;
    }

    .countdown-item {
        flex: 1;
    }
